<% content_for :page_title do %>
  <%= t(:all_orders) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>

<br>

<%= link_to "Download All Orders", all_orders_admin_reports_url(format: 'csv'), {method: :get, class: 'button'}  %>