<% content_for :page_title do %>
  <%= t(:daily_deliveries) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>


<br>

<% [-1, 0, 1, 2, 3].each do |relative_day| %>
  <% time = Time.now + relative_day.days %>
  <% time_string = time.strftime("%Y/%m/%d") %>
  <% time_url_encoded = URI.encode(time_string) %>
  
  <% link_text = time_string %>
  <% link_text = "Today" if relative_day == 0 %>
  <% link_text = "Tomorrow" if relative_day == 1 %>  
  
  
  <%= link_to link_text, daily_orders_admin_reports_url(delivery_date: time_string, format: 'csv'), {method: :get, class: 'button'}  %>
<% end %>

<br>
<br>
<br>

<%= form_tag '/admin/reports/daily_orders.csv' do |s| %>
    <div class="date-range-filter field align-left">
        
        <%= text_field_tag :delivery_date, '', :class => 'datepicker' %>
         &nbsp;&nbsp;
        <%= label_tag nil, 'Delivery Date', :class => 'inline' %>
    </div>

    <div class="actions filter-actions">
      <%= button 'Download CSV', 'icon-search'  %>
    </div>
<% end %>
